[submodule "luci-theme-neobird"]
	path = luci-theme-neobird
	url = https://github.com/ningnao/luci-theme-neobird.git
[submodule "luci-app-alist"]
	path = luci-app-alist
	url = https://github.com/sbwml/luci-app-alist.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = git@github.com:jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = git@github.com:jerrykuku/luci-app-argon-config.git
